/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

body {
  margin: 0;
  padding: 0;
}

image {
  width: 100%;
  height: 100%;
}

.button {
  width: 100%;
  margin-bottom: 12px;
}

.file_upload {
  color: #393939;
  background-color: rgb(229, 229, 229);
  padding: 5px 20px;
  margin: 20px 0;
  border: 0.5px black solid;
  border-radius: 5px;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.wrapper {
  padding: 25px;
  box-shadow: 0 0 15px gray;
}

.nav_header {
  padding: 20px;
  background-color: navy;
}

.nav_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 80px;
}

.nav_buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  gap: 10px;
}

.app_name {
  font-size: 40px;
  color: white;
}

.login_user {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: white;
}

.login_icon {
  border-radius: 50%;
  width: 60px;
}

.delete_message {
  text-align: center;
  margin: 30px 0;
  color: red;
}

.option_flame {
  display: flex;
}

.option_content {
  width: 100%;
}

.room_section {
  margin: 20px 40px;
}

.edit_section {
  margin: 10px 40px 10px 40px;
}

.select_image {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.introduction {
  display: flex;
  gap: 20px;
  margin: 10px 0;
  white-space: pre-wrap;
}

textarea {
  min-height: 150px;
}

.select_image .introduction,
p {
  width: 50%;
}

.under_line {
  border-bottom: solid rgb(137, 137, 137);
}

.room_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.room_content {
  height: 600px;
  background-color: #f0f0f0;
}

.room_image {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room_name {
  font-size: 24px;
}

.room_details {
  height: 100px;
  overflow: hidden;
}

.room_show {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room_price {
  font-size: 30px;
  color: coral;
  margin-bottom: 12px;
}

.user_room_edit {
  display: flex;
  gap: 3px;
}

.reservation_flame {
  width: 100%;
}

.reservation_content {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^

// .login_username {
//   display: flex;
//   align-items: center;
// }

// .content_wrapper {
//   text-align: center;
//   font-size: 30px;
//   color: white;
//   margin-bottom: 15px;
//   padding: 12px;
//   background-color: rgb(31, 31, 192);
// }

// .name {
//   font-size: 30px;
// }

// .login_user {
//   width: 120px;
//   color: white;
// }

// .login_icon {
//   border-radius: 50%;
// }

// .dropdown-menu {
//   min-width: 100px;
// }

// .content_wrapper {
//   margin-top: 40px;
//   padding-top: 10px;
//   background-color: #f0f0f0;
// }

// .user_list {
//   text-align: center;
// }

// .profile_page {
//   display: flex;
//   justify-content: center;
// }

// .user_image {
//   width: 300px;
// }

// .introduction {
//   width: 400px;
//   margin: 0 auto;
//   padding: 10px;
// }

// .user_image {
//   margin-right: 30px;
//   width: 140px;
//   display: flex;
//   justify-content: center;
// }

// .account_name {
//   margin-right: 30px;
//   font-size: 24px;
//   color: gray;
// }

// .user_container,
// .room_container {
//   margin: 15px 0;
//   padding: 30px 0;
//   background-color: #f0f0f0;
// }

// .user_content {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 30px;
// }

// .user_image {
//   width: 300px;
// }

// .user_info {
//   margin-left: 30px;
// }

// .user_details {
//   margin-top: 40px;
//   width: 300px;
// }

// .user_name,
// .user_email {
//   font-size: 30px;
//   margin-bottom: 15px;
// }

// .user_introduction {
//   width: 600px;
//   margin: 0 auto;
// }

// .room_wrapper {
//   margin-left: 30px;
// }
// .room_content {
//   margin: 0 auto;
//   width: 100%;
//   display: flex;
// }

// .room_name {
//   font-size: 30px;
//   margin: 15px 0;
// }

// .room_details {
//   height: 180px;
// }

// .rooms_container {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 50px;
//   margin: 0 auto;
//   padding: 0 50px;
// }

// .rooms_content {
//   width: 400px;
//   height: 500px;
//   padding: 15px;
//   background-color: #f0f0f0;
// }

// .image {
//   margin: 0 auto;
//   height: 200px;
//   width: auto;
// }

// .rooms_details {
//   margin-top: 20px;
// }

// .rooms_option {
//   margin-top: 10px;
// }

// .room_container {
//   display: grid;
//   justify-content: center;
// }

// .room_price_place {
//   font-size: 22px;
// }

// .room_buttons {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .details {
//   margin: 30px 0;
//   max-height: 300px;
// }

// .login_user a {
//   color: inherit;
// }

// .account_delete {
//   text-align: center;
//   padding: 30px 0;
//   margin-top: 30px;
//   background-color: #f0f0f0;
// }

// .delete_message {
//   font-size: 20px;
// }

// .account_delete span {
//   color: red;
// }

// .account_delete_button {
//   margin-top: 30px;
// }

// .update_buttons {
//   display: flex;
//   justify-content: space-between;
// }

// .account_show {
//   display: flex;
//   justify-content: center;
// }

// .account_details {
//   font-size: 24px;
//   margin: 10px 0;
//   text-align: center;
// }

// .account_details p {
//   margin: 10px 0;
// }

// .account_details span {
//   font-size: 35px;
// }

// .account_buttons {
//   display: flex;
//   justify-content: space-between;
// }

// .profile_buttons {
//   display: flex;
//   justify-content: space-between;
// }

// .editor_buttons {
//   display: flex;
//   justify-content: space-between;
// }
